<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--配置自定义处理器及其URL地址-->
    <bean name="/hello.action" class="com.wdg.controller.HelloController"></bean>
    <bean name="/hello2.action" class="com.wdg.controller.HelloController2"></bean>
    <!--    配置自定义处理器及其URL地址，不需要指定，而采用扫描包的形式自动加载-->
    <context:component-scan base-package="com.wdg.controller"></context:component-scan>
</beans>