<!DOCTYPE html>
<!--导入模板标签-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringMVC测试案例</title>
</head>
<body>
<h1>用户测试代码</h1>
<!--从服务器中获取数据 表达式  ${从服务器中获取的key}-->
<h3 th:text="${id}"></h3>
<h3 th:text="${name}"></h3>
<hr>
<form action="/addUser" method="post">
    <table border="2px" cellpadding="0" align="center" width="350px" style="margin-top:50px">
        <tr align="center">
            <td colspan="2"><h1>表格数据提交</h1></td>
        </tr>
<!--        name="id"和name="name"与UserController传入参数对应-->
        <tr>
            <td>ID: </td>
            <td><input id="id" name="id" type="text"></td>
        </tr>
        <tr>
            <td>姓名: </td>
            <td><input id="name" name="name" type="text"></td>
        </tr>
        <tr>
            <td>爱好：</td>
            <td>
                <input name="hobbies" type="checkbox" value="敲代码">敲代码
                <input name="hobbies" type="checkbox" value="敲键盘">敲键盘
                <input name="hobbies" type="checkbox" value="敲主机">敲主机
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="submit">提交</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>
<!--从服务器中获取数据 表达式 ${从服务器获取的key}-->
<!--xmlns:th="http://www.thymeleaf.org"-->