<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zrrd.dao.UserMapper">
<!--sql标签/片段：
        相当于一段sql  使用的时候直接引用即可  可以把重复的sql提取出来，
        在引用这段sql时  使用include标签
            -->
    <sql id="filed">id,name,age</sql>
<!--条件查询  if标签
    test属性 ：属性中的内容 相当于一个布尔表达式  如果是true  拼接标签内的sql
                    false   不拼接-->
    <select id="findByCondition" resultType="User" parameterType="User">
        select  <include refid="filed"></include>
        from user
        where 1=1
        <if test="name != null">
            and  name like "%"#{name}"%"
        </if>
        <if test="age != 0">
            and age >#{age}
        </if>
    </select>

    <update id="update" parameterType="user">

        update user
        <set>
            <if test="name !=null">
                name =#{name},
            </if>
            <if test="age !=0">
                age=#{age},
            </if>
        </set>
            where id=#{id}
    </update>


    <select id="findByCondition2" parameterType="List" resultType="User">
        select
        <include refid="filed"></include>
        from user
        <foreach collection="list" open="where id in ("  close=")" item="item" separator=",">
            #{item}
        </foreach>

    </select>

    <select id="findByCondition3" parameterType="int[]" resultType="User">
        select
        <include refid="filed"></include>
        from user
        <foreach collection="array" open="where id in ("  close=")" item="item" separator=",">
            #{item}
        </foreach>

    </select>

    <insert id="insertList" parameterType="List">
        insert into user
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.age},null)
        </foreach>
    </insert>
</mapper>